

<nav class="navbar navbar-expand-lg bgnav py-2 shadow ">
    <div class="container-fluid dev">
    
      <img class="image"  src="../images/a's pay (2).jpg" alt="">
      <button class="navbar-toggler bg-success " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <li class="nav-item dropdown  nav-dropdownelments ps-3">
            <a class="nav-link dropdown-toggle nav-title home-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Personal Banking
            </a>
            <ul class="dropdown-menu drop-links">
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/send-money.png" alt="icon1"> <span style="padding-left: 6px;">Send Money</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/money-receiving-nigeria.png" alt="icon2"> <span style="padding-left: 6px;">Recieve Money</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/bcs.webp" alt="icon3"> <span style="padding-left: 6px;">Add Cash</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/pay-bills.png" alt="icon4"> <span style="padding-left: 6px;">Pay Bills</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/nira-ion.png" alt="icon5"> <span style="padding-left: 6px;">Loan</span></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><img src="../images/maths-calculate.png" alt="icon6"> <span style="padding-left: 6px;">Budgets</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/schedule-icon.png" alt="icon7"> <span style="padding-left: 6px;">Scheduling Payments</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/card-manage icon.png" alt="icon8"> <span style="padding-left: 6px;">Card Management</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/benefi-icon.png" alt="icon9"> <span style="padding-left: 6px;">Beneficiaries</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/safety.png" alt="icon10"> <span style="padding-left: 6px;">Tight Security</span></a></li>
            </ul>
          </li>
          <li class="nav-item dropdown drop-downtwo ps-3">
            <a class="nav-link dropdown-toggle crypto-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Crypto Currency
            </a>
            <ul class="dropdown-menu dropdowntwo-content">
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/buy-crypto.png" alt="icon11"> <span style="padding-left: 6px;">Buy Crypto</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/sell-crypto.png" alt="icon12"> <span style="padding-left: 6px;">Sell Crypto</span></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/exhn-io.jpg" alt="icon13"> <span style="padding-left: 6px;">Exchange Crypto Currency</span></a></li>
            </ul>
          </li>
          <li class="nav-item dropdown drp-downth ps-3">
            <a class="nav-link dropdown-toggle shop-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SHOP
            </a>
            <ul class="dropdown-menu dropdownth-content">
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/fashion-men.jpg" alt="icon14"> <span style="padding-left: 6px;">Men's Clothe</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/fashionable_women_icons.jpg" alt="icon15"> <span style="padding-left: 6px;">Women's Clothe</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/kid's-icon.png" alt="icon16"> <span style="padding-left: 6px;">Kid's Clothe</span></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/mensshoe-icon.jpg" alt="icon16"> <span style="padding-left: 6px;">Adult Men's Shoe</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/women's-shoe.png" alt="icon17"> <span style="padding-left: 6px;">Adult Women's Shoe</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/women-bag.png" alt="icon18"> <span style="padding-left: 6px;">Women's Bag</span></a></li>
            </ul>
          </li>
          <li class="nav-item dropdown drp-downfourth ps-3">
            <a class="nav-link dropdown-toggle titl-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Open Foreign Account
            </a>
            <ul class="dropdown-menu dropdownforth-content">
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/checking-icon.png" alt="icon19"> <span style="padding-left: 6px;">Checkings Account</span></a></li>
              <li><a class="dropdown-item" href="#"><img width="20px" src="../images/savings-ion.jpg" alt="icon20"> <span style="padding-left: 6px;">Savings Account</span></a></li>
              
            </ul>
          </li>
          <li class="nav-item dropdown drp-downfourth ps-3">
            <a class="nav-link dropdown-toggle titl-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Help
            </a>
            <ul class="dropdown-menu dropdownforth-content">
              <li><a class="dropdown-item" href="#"> <span style="padding-left: 6px;">Get Help</span></a></li>
              <li><a class="dropdown-item" href="#"> <span style="padding-left: 6px;">Scam Awareness</span></a></li>
              <li><a class="dropdown-item" href="#"> <span style="padding-left: 6px;">Security</span></a></li>
              <li><a class="dropdown-item" href="#"> <span style="padding-left: 6px;">FAQS</span></a></li>
              <li><a class="dropdown-item" href="#"> <span style="padding-left: 6px;">Self Help</span></a></li>
              <li><a class="dropdown-item" href="#"> <span style="padding-left: 6px;">Contact Us</span></a></li>
              
            </ul>
          </li>
         
        </ul>       
           <a href="/register" class="buta mx-3">JOIN A'sPay</a>

        <form class="d-flex search-role" role="search">
          <input class="form-control me-2" type="search" placeholder="Search your country eligibility" aria-label="Search">
          <button class="search-bitton" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
