<%- include('../includes/header.ejs') %>
<style>
    body{
        background: url(/images/line3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        background-attachment: fixed;
    }

</style>
</head>
<body>
    <div class="container my-3 con1">
        <div class="row justify-content-between">
         <div class="col-lg-1 ps-3 py-3 first text-center ">
            <div class="imgs"><img src="images/a's pay (2).jpg" alt=""></div>
            <div class="icos">
             <div><i class="fab fa-windows"></i></div>
              <div><i class="fas fa-user"></i></div>
              <div><i class="fas fa-bookmark"></i></div>
              <div><i class="fas fa-right-from-bracket"></i></div>
            </div>
            <div class="icss">
            <div class="my-2"><i class="fas fa-plus"></i></div>
            <div class="imgs"><img src="images/a's pay (3).jpg" alt=""></div>
            </div>
         </div>
         <div class="col-lg-8 py-3 sec">
          <div class="d-flex justify-content-between">
            <h3>Hello, Alenxamdro</h3>
              <div class="inp d-flex">
                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Search anything.....">
                <button class="input-group-text"><i class="fas fa-search"></i></button>
              </div>
          </div>
          <div class="d-flex justify-content-between my-3">
            <p class="ps"><span class="spas"><i class="fas fa-eye"></i></span>My Cards</p>
            <p class="ps"> <a href="">AddCards +</a></p>
          </div>
          <div class="row justify-content-between cards mx-2">

            <div class="col-lg-4 colcar1">
              <div class="d-flex justify-content-between">
                 <div class="das">
                    <small>Card Number</small>
                    <p>3121 1148 7748 4567</p>
                 </div>
                 <div class="dam"><img src="/images/mas2-removebg-preview.png" alt=""></div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <div class="dams"><img src="/images/sim1-removebg-preview.png" alt=""></div>
                <div class="das">
                  <small>Current Balance</small>
                  <p>$65,000</p>
               </div>
             </div>
             </div>

            <div class="col-lg-4 colcar2">
             <div class="d-flex justify-content-between">
                 <div class="das">
                    <small>Card Number</small>
                    <p>4124 1148 7748 4567</p>
                 </div>
                 <div class="dam"><img src="/images/visa1-removebg-preview.png" alt=""></div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <div class="dams"><img src="/images/sim1-removebg-preview.png" alt=""></div>
                <div class="das">
                  <small>Current Balance</small>
                  <p>$100,000</p>
               </div>
             </div>
             </div>
            
             <div class="col-lg-4 colcar3">
              <div class="d-flex justify-content-between">
                <div class="das">
                   <small>Card Number</small>
                   <p>4124 1148 7748 4567</p>
                </div>
               <div class="dam"><img src="/images/debit-removebg-preview.png" alt=""></div>
             </div>
             <div class="d-flex justify-content-between mt-3">
               <div class="dams"><img src="/images/sim1-removebg-preview.png" alt=""></div>
               <div class="das">
                 <small>Current Balance</small>
                 <p>$100,000</p>
              </div>
            </div>
             </div>
          </div>
          <div class=" my-3">
            <div class="row">
              <div class="col-lg-8">
                <p class="ps"><span class="spas"><i class="fas fa-eye"></i></span>Recent Transactions</p>
                <div class="one d-flex justify-content-between my-2 p-3">
                  <div class="fir d-flex">
                    <div>
                     <img src="/images/pal.png" alt="">
                    </div>
                    <div>
                     <div class="divs">
                       <div>Down Payment For Web Design</div>
                       <small>Shortly Payment</small>
                    </div>
                    </div>
                  </div>
                  <div class="secs">
                   <span>+$ 6,467.00</span>
                   <i class="fas fa-chart-line"></i>
                  </div>
               </div>
               <div class="one d-flex justify-content-between my-2 p-3">
                <div class="fir d-flex">
                  <div>
                   <img src="/images/spot.png" alt="">
                  </div>
                  <div>
                   <div class="divs">
                     <div>Yearly Spotify Subsction</div>
                     <small>Shortly Payment</small>
                  </div>
                  </div>
                </div>
                <div class="secso">
                 <span>+$ 8,467.00</span>
                 <i class="fas fa-chart-line"></i>
                </div>
             </div>
             <div class="text-center as">
              <a href="">See More <i class="fas fa-arrow-up"></i></a>
             </div>
             <div class="my-3">
              <p class="ps"><span class="spas"><i class="fas fa-eye"></i></span>Statistics</p>
              <div class="d-flex justify-content-between">
                <div class="secso">
                  <i class="fas fa-chart-line"></i>
                  <span>+$ 8,467.00</span>
               
                 </div>
                 <div class="secs">
                  <i class="fas fa-chart-line"></i>
                  <span>+$ 6,467.00</span>
                 
                 </div>
                 <div class="secsos px-1">
                  <span>Daily</span>
                  <i class="fas fa-infinity"></i>
              
                 </div>
              </div>
               <div class="d-flex mt-4">
                <div class="num">
                  <ul>
                    <li class="p-2"><b> 80k</b></li>
                    <li class="p-2"><b> 60k</b></li>
                    <li class="p-2"><b> 40k</b></li>
                    <li class="p-2"><b> 20k</b></li>
                    <li class="p-2"><b> 0</b></li>
                  </ul>
                </div>
                <div class="bors">
                  <svg width="300" height="150">
                    <path d="M0,75 
                             C25,25 75,25 100,75 
                             S175,125 200,75 
                             S275,25 300,75" 
                          fill="none" stroke="#1f721f" stroke-width="2" />
                </svg>
                <svg width="300" height="150" class="secBlu">
                  <path d="M0,75 
                           C25,20 70,10 90,75 
                           S170,120 200,75 
                           S275,40 300,75" 
                        fill="none" stroke="#001aff" stroke-width="2" />
              </svg>

                </div>

               </div>
               <div class="days">
                  <span class="mx-2">Mon</span>
                  <span class="mx-2">Tue</span>
                  <span class="mx-2">Wed</span>
                  <span class="mx-2">Thu</span>
                  <span class="mx-2">Fri</span>
                  <span class="mx-2">Sat</span>
                  <span class="ms-2">Sun</span>
               </div>
             </div>
              </div>



              <div class="col-lg-4">
                <p class="ps"><span class="spas"><i class="fas fa-eye"></i></span>Cards Summary</p>
                    <div class="my-3 d-flex justify-content-between bor p-3">
                      <div class="ices my-4">
                        <div class="eyeee my-1"><i class="fas fa-eye"></i>  <span>Card1</span></div>
                        <div class="eyee my-1"><i class="fas fa-eye"></i>  <span>Card2</span></div>
                        <div class="eye my-1"><i class="fas fa-eye"></i>  <span>Card3</span></div>
                      </div>
                      <div class="bord">
                        <div>
                       <small>Balance</small>
                       <h2>$90K</h2>
                      </div>
                      </div>
                    </div>
                    <div>
                      <p class="ps"><span class="spas"><i class="fas fa-eye"></i></span>Monthly Summary</p>
                      <div class="">
                       <span>Monthly Income</span> 
                       <div class="d-flex income p-3">
                         <div class="mo">
                          <p>$72K</p>
                          <div class="secso">
                            <i class="fas fa-infinity"></i>
                            <span>2.985%</span>
                           </div>

                         </div>
                         <div class="svgs">
                         
                        
                         </div>
                       </div>
                      </div>
                      <div class="mt-3">
                        <span>Monthly Expenses</span> 
                        <div class="d-flex income p-3">
                          <div class="mos">
                           <p>$28K</p>
                           <div class="secs">
                             <i class="fas fa-infinity"></i>
                             <span>0.451%</span>
                            </div>
 
                          </div>
                          <div class="svg">
                          
                          </div>
                        </div>
                       </div>
                    </div>

              </div>
            </div>
           
           
          </div>
         </div>
         <div class="col-lg-3 third">
          <div class="d-flex justify-content-between my-3 thir">
            <div> <img src="/images/a's pay (3).jpg" alt=""></div>
           <div class="bell">
            <i class="fas fa-bell mx-1"></i>
            <i class="fas fa-shield mx-1"></i>
           </div>
          </div>
          <div class="d-flex justify-content-between my-3">
            <p class="ps"><span class="spas"><i class="fas fa-eye"></i></span>Reminder</p>
            <p class="p"> <a href="">See All <i class="fas fa-list-dropdown"></i></a></p>
          </div>
          <div class="d-flex justify-content-between my-3 calendar">
              <div class="diveye">
                <div class="eight">28</div>
                <div class="sma">Dec</div>
                <div class="ices my-4">
                  <i class="fas fa-eye mx-2 eyeees"></i>
                  <i class="fas fa-eye mx-2 eyees"></i>
                  <i class="fas fa-eye mx-2 eyes"></i>
                 </div>
              </div>
              <div class="diveye">
                <div class="nine">29</div>
                <div class="sma">Dec</div>
                <div class="ices my-4">
                 <i class="fas fa-eye mx-2 eyeees"></i>
                 <i class="fas fa-eye mx-2 eyees"></i>
               
                </div>
              </div>
          </div>
          <div>
             <p class="ps"><span class="spas"><i class="fas fa-eye"></i></span>Recent Actions</p>
          <div class="one d-flex justify-content-between my-2 p-3">
            <div class="firss d-flex">
              <div class="ovo me-2">
               <img src="/images/ovo-removebg-preview.png" alt="">
              </div>
              <div>
               <div class="divs">
                 <div>OVO</div>
                 <small>Sign Up</small>
              </div>
              </div>
            </div>
            <div class="secss">
             <span>+$ 6,467.00</span>
             <div>27 Dec 20</div>
            </div>
         </div>
         <div class="one d-flex justify-content-between my-2 p-3">
          <div class="firs d-flex">
            <div class="net me-2">
             <img src="/images/netflix-removebg-preview.png" alt="">
            </div>
            <div>
             <div class="divs">
               <div>Netflix Inc.</div>
               <small>Purchase</small>
            </div>
            </div>
          </div>
          <div class="secss">
           <span>+$ 8,467.00</span>
           <div>27 Dec 20</div>
          </div>
       </div>
          </div>
          <div class="action">
            <p class="ps"><span class="spas"><i class="fas fa-eye"></i></span>Card Actions</p>
            <div class="act">
              <div class="top mt-3 py-3">
                <a href=""><button class="py-2 px-3 "><i class="fas fa-money-bill-transfer"></i></button></a>
                <div>Transfer</div>
              </div>
              <div class="top  mt-3 py-3">
                <a href=""><button class="py-2 px-3 "><i class="fas fa-vcard"></i></button></a>
                <div>Withdraw</div>
              </div>
              <div class="top  mt-3 py-3">
                <a href=""><button class="py-2 px-3"><i class="fas fa-message"></i></button></a>
                <div>Purchase</div>

              </div>
              <div class="top  mt-3 py-3">
               <a href=""> <button class="py-2 px-3"><i class="fas fa-arrow-up-from-bracket"></i></button></a>
                <div>Top Up</div>
              </div>
            </div>
            <div class="con mt-4">
              <button class="py-2">Confirm</button>
            </div>
          </div>
          
         
         </div>
        </div>

    </div>
  








<%- include('../includes/footer.ejs') %>    
</body>
</html>
